{% load staticfiles %}
{% block menu %}
    <div class="categories">
        <ul>
            {% for link in links_sec_menu %}
                <li><a href="{% url 'products:index' %}"
                       class="{% if request.resolver_match.url_name == link.href %}
                                 active
                              {% endif %}">
                       {{ link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}