{% load staticfiles %}
{% block prod_2 %}
    {% for prod in hot_product %}
             <div class="col-lg-6 promo">
                    <img src="http://localhost:8000/media/{{ prod.image }}" alt="Картинка не прогрузилась">
                    <div class="slider-content">
                        <h3>exclusive</h3>
                        <h1>{{prod.name}}</h1>
                        <p>{{prod.description}}</p>
                        <a class="order" href="">
                            order us
                        </a>
                    </div>
             </div>
    {% endfor %}
{% endblock %}