{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block css %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_deals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_contacts.css' %}">
{% endblock %}
{% block header %}
    {{block.super}}
    <h1>You cart</h1>
{% endblock %}
{% block content %}
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total  Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       {% for prod in basket %}
        <tr>
          <th scope="row">{{ prod.id }}</th>
          <td><img src="../media/{{ prod.product.image }}" alt="Картинка не прогрузилась"></td>
          <td>{{ prod.product.name }}</td>
          <td>{{ prod.product.price }}</td>
          <td><input type="number" min="0" name="input.pk" value="{{ prod.quantity }}"></td>
          <td>{{ prod.cost }}</td>
          <td><a href="{% url 'basket:remove' prod.pk %}">Delete from cart</a> </td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
    <h3>Final price: {{ request.user|basket_total_cost }}</h3>
{% endblock %}