<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% block css %}
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    {% endblock %}

    <title>
        {% block title %}
            {% for key, value in titles.items %}
                {% if key == request.resolver_match.url_name %}
                    {{ value }}
                {% endif %}
            {% endfor %}
        {% endblock %}
    </title>
</head>

<body>
    <div class="conteiner">
        <div class="user">
            {% if request.user.is_authenticated %}
                <h2>Пользователь: {{ request.user.username|title }}</h2>
            {% else %}
                <h2>Пользователь не авторизован</h2>
            {% endif %}
            <a href="{% url 'auth:logout' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">logout</a>
            <a href="{% url 'auth:login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">login</a>
        </div>
        <div class="header">
            {% block header %}
                <a href="{% url 'main' %}">
                    <img class="logo" src="{% static '/img/logo.png' %}" alt="Картинка не прогрузилась">
                </a>
                {% include 'mainapp/includes/inc_menu.html' %}
            {% endblock %}
        </div>
        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
                <div class="contact">
                    <h2>Contact Us</h2>
                    <p>132A Bridge Road Richmond VIC
                        Australia.
                    </p>
                    <p>Talk to us on 1300 132
                        info@interior.com</p>
                </div>
                <div class="useful">
                    <h2>Useful Information</h2>
                    <ul>
                        <li><a href="{% url 'main' %}">Sales terms</a></li>
                        <li><a href="{% url 'main' %}">Customer care</a></li>
                        <li><a href="{% url 'main' %}">Delivery</a></li>
                    </ul>
                    <ul>
                        <li><a href="{% url 'main' %}">Architect accounts</a></li>
                        <li><a href="{% url 'main' %}">Careers</a></li>
                        <li><a href="{% url 'main' %}">Exchanges & returns</a></li>
                    </ul>
                </div>
                <div class="lets_stay">
                    <h2>Let’s Stay in Touch!</h2>
                    <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <input class="form" type="text" value="your email address">
                </div>
                <div class="copyright">
                    <p>© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                </div>
                <div class="social"><img src="{% static '/img/social-links.png' %}" alt="Картинка не прогрузилась"></div>
                <div class="terms"><a href="{% url 'main' %}">Terms & Conditions / Privacy policy & Cookies</a></div>
            {% endblock %}
        </div>
        {% block js %}
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </div>
</body></html>
