{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block css %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_deals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_contacts.css' %}">
{% endblock %}
{% block header %}
    {{block.super}}
    <h1>Our Products Range</h1>
{% endblock %}
{% block content %}
            {% include 'mainapp/includes/inc_sec_menu.html' %}
            {% for product in products_12 %}
                {% if forloop.counter == 1 or forloop.counter|add:2|divisibleby:3 %}
                    <div class="trends row row_3">
                {% endif %}
                    <div class="product col-lg-4">
                        <img src="../media/{{ product.image }}" alt="Картинка не прогрузилась">
                        <a href="/deal/">
                            <div class="ar_in"></div>
                            <h3>{{ product.name }}</h3>
                            <p>{{ product.short_desc }}</p>
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row ring">
                <a href="/"><img src="/static/img/ring.png" alt="Картинка не прогрузилась"></a>
            </div>
            <div class="row level_2">
                {% include 'mainapp/includes/inc_prod_2.html' %}
            </div>
{% endblock %}
