{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block css %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_deals.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_contacts.css' %}">
{% endblock %}
{% block header %}
    {{block.super}}
    <h1>Our Products Range</h1>
{% endblock %}
{% block content %}
            <div class="categories">
                <ul>
                    <li><a href="/products/">All</a></li>
                    <li><a href="/products/">HOME</a></li>
                    <li><a href="/products/">OFFICE</a></li>
                    <li><a href="/products/">FURNITURE</a></li>
                    <li><a href="/products/">MODERN</a></li>
                    <li><a href="/products/">CLASSIC</a></li>
                </ul>
            </div>
            <div class="trends row">
                <div class="product col-lg-4">
                    <img src="/static/img/product-11.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-21.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-31.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
            </div>
            <div class="trends row">
                <div class="product col-lg-4">
                    <img src="/static/img/product-11.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-21.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-31.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
            </div>
            <div class="trends row">
                <div class="product col-lg-4">
                    <img src="/static/img/product-11.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-21.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-31.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
            </div>
            <div class="trends row">
                <div class="product col-lg-4">
                    <img src="/static/img/product-11.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-21.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
                <div class="product col-lg-4">
                    <img src="/static/img/product-31.jpg" alt="Картинка не прогрузилась">
                    <a href="/deal/">
                        <div class="ar_in"></div>
                        <h3>Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure foam</p>
                    </a>
                </div>
            </div>
            <div class="row ring">
                <a href="/"><img src="/static/img/ring.png" alt="Картинка не прогрузилась"></a>
            </div>
            <div class="row level_2">
                <div class="col-lg-6 promo">
                    <img src="/static/img/promo-img1.jpg" alt="Картинка не прогрузилась">
                    <div class="slider-content">
                        <h3>exclusive</h3>
                        <h1>Fishnet Chair</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                        <a class="order" href="/deal/">
                            order us
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 promo">
                    <img src="/static/img/promo-img.jpg" alt="Картинка не прогрузилась">
                    <div class="slider-content">
                        <h3>exclusive</h3>
                        <h1>Fishnet Chair</h1>
                        <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                        <a class="order" href="/deal/">
                            order us
                        </a>
                    </div>
                </div>
            </div>
{% endblock %}
