{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block css %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_contacts.css' %}">
{% endblock %}
{% block header %}
    {{block.super}}
            <h1>Contact Us</h1>
{% endblock %}

{% block content %}
            <div class="block_3">
                <img src="{% static '/img/point.png' %}" alt="Картинка не прогрузилась">
                <h1>California</h1>
                <h2>Phone:</h2>
                <h3>1900 - 1234 -5678</h3>
                <h2>Email:</h2>
                <h3>info@interior.com</h3>
                <h2>Address:</h2>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
            <div class="block_3"><img src="{% static '/img/point.png' %}" alt="Картинка не прогрузилась">
                <h1>California</h1>
                <h2>Phone:</h2>
                <h3>1900 - 1234 -5678</h3>
                <h2>Email:</h2>
                <h3>info@interior.com</h3>
                <h2>Address:</h2>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
            <div class="block_3"><img src="{% static '/img/point.png' %}" alt="Картинка не прогрузилась">
                <h1>California</h1>
                <h2>Phone:</h2>
                <h3>1900 - 1234 -5678</h3>
                <h2>Email:</h2>
                <h3>info@interior.com</h3>
                <h2>Address:</h2>
                <p>12 W 1st St, 90001 Los Angeles, California</p>
            </div>
{% endblock %}