{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block css %}
    {{ block.super}}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style_deals.css' %}">
{% endblock %}
{% block content %}
            {% include 'mainapp/includes/inc_sec_menu.html' %}
            <div class="offer row">
                <div class="col-6">
                    <img src="{% static '/img/slider1.jpg' %}" alt="Картинка не прогрузилась">
                    <img class="sm" src="{% static '/img/controll.jpg' %}" alt="Картинка не прогрузилась">
                    <img class="sm" src="{% static '/img/controll11.jpg' %}" alt="Картинка не прогрузилась">
                    <img class="sm" src="{% static '/img/controll2.jpg' %}" alt="Картинка не прогрузилась">
                </div>
                <div class="col-6">

                    <h1>Fishnet Chair</h1>
                    <h3>Hot Deal</h3>
                    <div class="sm">$</div>
                    <div class="big">36.7</div>
                    <div class="sm">/sq</div>
                    <a href="{% url 'deal' %}"><span class="order">Order Us</span></a>
                    <div class="text">
                        <p>The majesty of Mountains - Ugmonk style.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        <p>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <p>sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="block_explore">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Related Products</h2>
                    </div>
                    <div class="col-lg-6">
                        <a class="explore" href="{% url 'products:index' %}">explore all</a>
                    </div>
                </div>


                <div class="trends row">
                    <div class="product col-lg-4">
                        <img src="{% static '/img/product-11.jpg' %}" alt="Картинка не прогрузилась">
                        <a href="{% url 'deal' %}">
                            <div class="ar_in"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam</p>
                        </a>
                    </div>
                    <div class="product col-lg-4">
                        <img src="{% static '/img/product-21.jpg' %}" alt="Картинка не прогрузилась">
                        <a href="{% url 'deal' %}">
                            <div class="ar_in"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam</p>
                        </a>
                    </div>
                    <div class="product col-lg-4">
                        <img src="{% static '/img/product-31.jpg' %}" alt="Картинка не прогрузилась">
                        <a href="{% url 'deal' %}">
                            <div class="ar_in"></div>
                            <h3>Fishnet Chair</h3>
                            <p>Seat and back with upholstery made of cold cure foam</p>
                        </a>
                    </div>
                </div>
            </div>
{% endblock %}